@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html{
    scroll-behavior:smooth;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #000;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.form-control {
    border: 1px solid rgba(8, 14, 20, 0.1);
    border-radius: 5px;
    height: 45px;
    color: #000;
    font-size: 14px;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #0D328D !important;
}

img {
    max-width: 100%;
}

.btn {
    padding: 8px 20px;
    border-radius: 5px;
}
.btn-sm { 
    padding: .25rem .5rem; 
    font-size: .875rem; 
    border-radius: .2rem;
} 

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn-primary {
    background: #0D328D;
    border: 1px solid #0D328D;
    box-shadow: 2px 4px 4px 2px rgba(140, 140, 140, 0.25);
}

.btn-light {
    background: #FFFFFF;
    box-shadow: 3px 4px 4px 4px rgba(73, 73, 73, 0.25);
    color: #000;
}

.btn-light:hover {
    background: #0D328D;
    border: 1px solid #fff;
    color: #fff;
}


.text-primary {
    color: #d9000d !important
}

.text-secondary {
    color: #004273 !important
}

.text-success {
    color: #198754 !important
}

.text-info {
    color: #0dcaf0 !important
}

.text-warning {
    color: #ffc107 !important
}

.text-danger {
    color: #d9000d !important
}

.text-light {
    color: #e1ecf2 !important
}

.text-dark {
    color: #212529 !important
}

.text-white {
    color: #fff !important
}

.text-body {
    color: #212529 !important
}

.text-muted {
    color: #6c757d !important
}

.text-black-50 {
    color: rgba(0,0,0,0.5) !important
}

.text-white-50 {
    color: rgba(255,255,255,0.5) !important
}

.text-reset {
    color: inherit !important
}

.bg-primary {
    background-color: #d9000d !important
}

.bg-secondary {
    background-color: #004273 !important
}

.bg-success {
    background-color: #198754 !important
}

.bg-info {
    background-color: #0dcaf0 !important
}

.bg-warning {
    background-color: #ffc107 !important
}

.bg-danger {
    background-color: #d9000d !important
}

.bg-light {
    background-color: #e1ecf2 !important
}

.bg-dark {
    background-color: #212529 !important
}

.bg-body {
    background-color: #fff !important
}

.bg-white {
    background-color: #fff !important
}

.bg-transparent {
    background-color: rgba(0,0,0,0) !important
}

.main-heading {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 30px;
    letter-spacing: -0.8px;
}   

main {
    padding-top: 52px;
}


/* Hero Section */

.hero-section {
    background-image: url(../../assets/images/hero-bg.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
    color: #fff;
    min-height: 600px;
    display: flex;
    align-items: center;
}
.more{
    display: none;
}
ul {
    list-style-type:disc;
   
}



/* Media Query */

@media only screen and (max-width: 1200px) {
    header nav ul li {
        padding: 6px 5px;
    }
    
    footer hr {
        width: 90%;
    }
}

@media only screen and (max-width: 991px) {
   
    
}

@media (max-width: 767px) {
   

}



.border-left-white {
    border-left: 2px solid #fff;
}
.main-slider-boxes .card-body .desc {
    height: 70px;
    padding-right: 0 !important;
}
.fs-12 {
    font-size: 0.75rem;
}