header{
    /* background-color: rgb(225, 236, 242); */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
  display: block;
  margin-top: 0.125em;
  margin-left: 0.125em;
}
@media screen and (min-width: 769px) {
    .dropend:hover > .dropdown-menu {
      position: absolute;
      top: 0;
      left: 100%;
    }
    .dropend .dropdown-toggle {
      margin-left: 0.5em;
    }
  }
header nav ul li a {
    font-size: 14px;
    text-transform: uppercase;
    color: #000 !important;
    border:none;
}
header .dropdown-menu li a{
    color: #ffffff !important;
}
header .dropdown-menu{
    background-color: #004273

}
header nav ul li a:hover {
    color: #ffffff !important;
    background-color: #d9000d;
}

header nav ul li {
    padding: 8px 12px 5px;
}
header nav  .dropdown-menu li a:hover {
    background-color: #d9000d;
}
.dropdown-item {
    padding: 0px 0px !important;
}
.nav-item{
    padding: 4px;
    font-size: 14px;
}
.nav-item .nav-link{
    padding: 0px;
}
header .navbar-nav .dropdown-menu {
    margin-top: 5px;
}
header .btn-primary{
    background-color: #d9000d !important;
    border-color: #d9000d !important;
}
header .btn-primary:hover{
    background-color: #d9000eaf !important;
    border-color: #d9000eaf !important;
}

/* footer */

footer{
    padding: 0px 0px;
}
footer .upper{
    background-color: rgb(225, 236, 242);
    padding: 50px 0px;
}

footer .social-media-box i{

    color: #004273 
}
footer .line-border{
    
    border: 1px solid #004273 ;
    opacity: 1;

}
footer .social-media-box {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.6875rem;
}
footer .rounded-circle {
    border-radius: 50% ;
}
footer .border-secondary {
    border-color: #004273;
}
footer .down{
    background-color: #004273 ;
    padding: 30px 0px;
}
.white-image {
    filter: brightness(0) invert(1) grayscale(100%) contrast(100%);
}